/* About Section */
.about-section {
    /*background-color: #f9ecdb;
    color: #332C29;*/
    background-color: #f0ede8; 
    color: #605e5c;
    padding: 40px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 60px;
}

.about-stats {
    position: relative; 
    background-color: #ebe8e1;
    /*background-color: #f5f1ec;*/
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.detail-item .about-me {
    position: relative;
    /*background-color: #f5f1ec;*/
    background-color: #ebe8e1; 
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}


.detail-item .about-me p {
    font-size: 1.5rem;
    
    line-height: 1.6;
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}


.stats-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 250%; 
    max-width: 250%; 
    height: auto; 
    z-index: 0;
}


.stats-number {
    position: relative; 
    /*color: #332C29; */
    color: #605e5c; 
    font-size: 3rem; 
    font-weight: bold;
}

.stats-title {
    position: relative; 
    /*color: #332C29;*/
    color: #605e5c; 
    font-size: 2.5rem;
    margin-top: 5px;
}



.about-image-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.about-image {
    width: 75%; 
    height: auto;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease-in-out;
}

.about-image-guitarist {
    transform: rotateY(20deg);
    margin-right: -5%;
}

.about-image-singer {
    transform: rotateY(-25deg); 
    margin-left: -5%;
}

.about-image-profile {
    transform: rotateY(15deg); 
    margin-right: -5%;
}

.about-content {
    /*background-color: #f5f1ec; */
    background-color: #ebe8e1; 
 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.about-content h2 {
    color: #605e5c;
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.25rem; 
    margin-bottom: 20px; 
}



.fas {
    /*color: #8B4513;*/
    color: #6e675f;
    margin-right: 10px;
}

.detail-item {
    display: flex;
    align-items: center; 
    text-align: left; 
    margin-bottom: 20px; 
}

.detail-item i {
    font-size: 1.5em; 
    color: #6e675f;
    /*color: #8B4513;*/
    margin-right: 10px;
}

.detail-item h3 {
    font-size: 1.5rem;
    margin: 0;
}

.detail-item p {
    font-size: 1rem;
    margin-left: 10px; 
}



@media (max-width: 768px) {
    .about-content, .about-stats {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .detail-item {
        justify-content: center;
    }
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-stats, .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .about-image-guitarist, .about-image-singer {
        transform: none;
        margin: 0 0 20px 0; 
    }

    .stats-number {
        font-size: 2.5rem; 
    }

    .stats-image {
        width: 50%;
    }

}



/* About Section 
.about-section {
    background-color: #f0ede8; 
    color: #605e5c;
    padding: 40px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 60px;
}

.about-stats {
    background-color: #ebe8e1; 
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.detail-item .about-me {
    background-color: #ebe8e1; 
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.stats-number {
    color: #605e5c; 
    font-size: 3rem;
    font-weight: bold;
}

.stats-title {
    color: #605e5c; 
    font-size: 2.5rem;
    margin-top: 5px;
}

.about-image-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.about-image {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.about-image-guitarist {
    transform: rotateY(20deg);
    margin-right: -5%;
}

.about-image-singer {
    transform: rotateY(-25deg);
    margin-left: -5%;
}

.about-image-profile {
    transform: rotateY(15deg);
    margin-right: -5%;
}

.about-content {
    background-color: #ebe8e1; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    color: #605e5c; 
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}


.fas, .detail-item i {
    color: #6e675f; 
    margin-right: 10px;
}

.detail-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.detail-item h3 {
    font-size: 1.5rem;
    margin: 0;
}

.detail-item p {
    font-size: 1rem;
    margin-left: 10px;
}


@media (max-width: 768px) {
    .about-content, .about-stats {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .detail-item {
        justify-content: center;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-stats, .about-content {
        padding: 20px;
    }

    .about-image-guitarist, .about-image-singer {
        transform: none;
        margin: 0 0 20px 0;
    }

    .stats-number {
        font-size: 2.5rem;
    }

    .stats-image {
        width: 50%;
    }
}
*/