.project-info {
    padding: 1rem;
}

.project-name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.project-year {
    color: #a07855;
    margin-bottom: 0.5rem;
}


.music-links a {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #7a5040;
    font-weight: bold;
}

.music-links a:hover,
.music-links a:focus {
    color: #50372c;
}


.projects-section {
    background-color: #f5f1ec;
    color: #7a5040;
    padding: 1rem;
    text-align: center;
}

.projects-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.projects-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjusted for center alignment */
    gap: 1rem;
}

.project {
    flex-basis: calc(30% - 1rem); /* Adjusted to fit 3 items per row */
    max-width: calc(30% - 1rem); /* Same adjustment as flex-basis */
    margin: 0.5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-cover {
    width: 175px; /* Fixed width */
    height: 175px; /* Fixed height to match the width */
    border-radius: 50%; /* Circular shape */
    object-fit: cover; /* Ensures image covers the area without stretching */
    margin: 0 auto; /* Center the image within its container */
    padding-top: 25px
}