/* General Styles */
.project-info {
    padding: 1rem;
}

.project-name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.project-year {
    color: #a07855;
    margin-bottom: 0.5rem;
}

.music-links a {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #7a5040;
    font-weight: bold;
}

.music-links a:hover,
.music-links a:focus {
    color: #50372c;
}

.projects-section {
    background-color: #f5f1ec;
    color: #7a5040;
    padding: 1rem;
    text-align: center;
}

.projects-title {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.project {
    flex-basis: calc(30% - 1rem);
    max-width: calc(30% - 1rem);
    margin: 0.5rem;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-cover {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    padding-top: 1.5rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex-basis: 90%; /* Slightly reduce width for side margins */
        max-width: 90%; /* Adjust based on preference for margin */
        min-width: 270px;
        margin: 1rem 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* Softer shadow for a cleaner look */
    }

    .project-cover {
        width: 125px; /* Adjust image size for balance */
        height: 125px;
        padding-top: 1rem; /* Adjust padding for consistency */
    }

    .project-name {
        font-size: 1.4rem; /* Ensure readability */
    }

    .projects-title, .projects-description {
        font-size: 1.4rem; /* Slightly larger font sizes for key titles */
        margin-bottom: 1.2rem; /* Adjust spacing for a clean look */
    }

    .music-links a {
        margin-right: 0.25rem;
        font-size: 1rem; /* Adjust font size for readability */
    }

    .project-info {
        padding: 0.75rem; /* Adjust padding for content breathing space */
    }
}
