

.slider-section {
    background-color: #f5f1ec; /* Matching the beige background color */
    color: #3D2B1F; /* Consistent text color */
    padding: 40px 0; /* Similar padding for vertical spacing */
    text-align: center; /* Centering the content */
}

.slider-section h3 {
    color: #7a5040; /* Dark Brown Text */
    font-size: 2.5rem;
    margin-bottom: 5rem;

}

.image-slider {
    width: 100%;
    max-width: 1350px; /* Adjust as needed */
    height: 450px; /* Fixed height */
    margin: 20px auto;
    overflow: hidden;
    display: flex;
    justify-content: start; /* Align images to the start */
    position: relative; /* Required for absolute positioning of navigation buttons */

}

.image-slider .prev,
.image-slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

.image-slider .prev {
    left: 10px;
}

.image-slider .next {
    right: 10px;
}

.image-slider .slide {
    flex: 0 0 33.333%; /* Each slide takes up one-third of the container */
    max-width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Adds spacing between images */
}

.image-slider .slide:last-child {
    margin-right: 0; /* No margin for the last slide */
}

.image-slider .slide.active {
    display: flex; /* Show active slide */
}

.image-slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the area uniformly */
}






