.elementor-83 .elementor-element.elementor-element-165dafa {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-83 .elementor-element.elementor-element-6b8d639 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-83 .elementor-element.elementor-element-696b9f3 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-83 .elementor-element.elementor-element-04f73ad .elementor-heading-title {
    color: var(--e-global-color-09c7039);
}

.elementor-83 .elementor-element.elementor-element-3592db2 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-83 .elementor-element.elementor-element-3592db2 .elementor-widget-container {
    text-align: left;
}

.elementor-83 .elementor-element.elementor-element-3592db2 .elementor-social-icon {
    background-color: #CF2E2E00;
}

.elementor-83 .elementor-element.elementor-element-3592db2 .elementor-social-icon i {
    color: var(--e-global-color-primary);
}

.elementor-83 .elementor-element.elementor-element-3592db2 .elementor-social-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-83 .elementor-element.elementor-element-defe514 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-83 .elementor-element.elementor-element-d3dd662 {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-d3dd662 .elementor-heading-title {
    color: var(--e-global-color-09c7039);
}

.elementor-83 .elementor-element.elementor-element-88642cb .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-83 .elementor-element.elementor-element-88642cb .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-09c7039);
    fill: var(--e-global-color-09c7039);
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-83 .elementor-element.elementor-element-24a436d {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
    transition: color 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3ee9440 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-83 .elementor-element.elementor-element-3ee9440 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-83 .elementor-element.elementor-element-ff347d7 {
    --display: flex;
    --background-transition: 0.3s;
}
